@font-face {
  font-family: 'ksocial';
  src: url('../font/ksocial.eot?21575297');
  src: url('../font/ksocial.eot?21575297#iefix') format('embedded-opentype'),
       url('../font/ksocial.woff?21575297') format('woff'),
       url('../font/ksocial.ttf?21575297') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="kicon-share-"]:before,
[class*=" kicon-share-"]:before {
  font-family: 'ksocial';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  padding-top:0.7em;
}

.icon-google-gplus:before { content: '\e802'; }
.icon-pinterest:before { content: '\e801'; }
.icon-twitter:before { content: '\e800'; }
.icon-facebook:before { content: '\e803'; }
.icon-tumblr:before { content: '\e804'; }
.icon-rss:before { content: '\e805'; }
.icon-email:before { content: '\e806'; }